{% load static %}

{% load i18n %}


<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="utf-8"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Banking</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="{% static 'main/css/frontent.css' %}">

    {% include 'layouts/media/alertifyjs_front_javascript_css.html' %}
    <script src="{% static 'main/js/jquery.js' %}"></script>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
</head>

<body>
<!-- Header Area Start Here -->
{% include 'blog/header.html' %}
<!-- Header Area End Here -->

<!-- Content Area Start Here -->
<div class="page-content">
    {% block content %}
    {% endblock content %}
</div>
<!-- Content Area End Here -->

<!-- Footer Area Start Here -->
{% include 'blog/footer.html' %}
<!-- Footer Area End Here -->


<script src="{% static 'main/js/frontend.js' %}"></script>
<script src="{% static 'main/js/validator.min.js' %}" type="text/javascript"></script>

{% include 'layouts/media/intlTelInput_js.html' %}
{% include 'layouts/media/alertifyjs_front_javascript_js.html' %}

<script src="{% static 'main/js/jquery.show-more.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

</body>
</html>