.login-button a, .path-user input[type="submit"]:not(.butn) {
    font-size: 18px;
    padding: 13px 51px;
    border-radius: 34px;
    letter-spacing: 1px;
    width: auto;
    border: none;
    font-weight: bolder;
    background-color: #16b6ea;
    color: #fff;
}

.login-button a, .path-user input[type="submit"]:not(.butn) {
    border-radius: 0px !important;
    background-color: #00303E !important;
}
