{% load static %}
<script src="{% static 'build/js/intlTelInput.js' %}"></script>
<script>
    var front = jQuery.noConflict();

    front('.phone_validate_org').each(function () {
        var input = document.querySelector('#'+front(this).attr('id')),
            validatePhone = document.querySelector("#"+front(this).closest('.form-group').find('.phone_validate').attr('id'));

        if (input) {
            var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

            // initialise plugin
            var iti = window.intlTelInput(input, {
                allowExtensions: true,
                nationalMode: false,
                preventInvalidNumbers: true,
                autoHideDialCode: false,
                preferredCountries: ["us"],
                {#separateDialCode: true,#}
                {#allowDropdown: true,#}
                {#dropdownContainer: document.body,#}
                utilsScript: "{% static 'build/js/utils.js' %}",
            });

            var reset = function () {
                if(input.classList){
                     input.classList.remove("error");
                }
                /*errorMsg.innerHTML = "";
                errorMsg.classList.add("hide");
                validMsg.classList.add("hide");*/
            };

            // on blur: validate
            input.addEventListener('blur', function () {
                reset();
                if (input.value.trim()) {
                    if (iti.isValidNumber()) {
                        input.classList.remove("error");
                        validatePhone.value = true;
                    } else {
                        input.classList.add("error");
                        validatePhone.value = false;
                    }
                }
            });

            input.addEventListener('change', reset);
            input.addEventListener('keyup', reset);
            if (document.getElementById(front(this).attr('id')).value !== "") {
                validatePhone.value = true;
            }

        }
    })

    /*errorMsg = document.querySelector("#error-msg"),
        validMsg = document.querySelector("#valid-msg"),*/

</script>
