<!DOCTYPE html>
<html>
<head>
</head>
<body>
{% autoescape off %}
    <p>Dear {{ user.username }} ,</p>
    <p>Welcome! To gain access to all features, you must first verify your account by <a
            href="{{ domain }}{% url 'activate' uidb64=uid token=token %}">clicking this link</a>.</p>
    <p>If the link above did not work, you can copy and paste the following URL into you browser:</p>
    <p>{{ domain }}{% url 'activate' uidb64=uid token=token %}</p>

{% endautoescape %}
</body>
</html>