{% load i18n %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{% url 'home' %}" class="navbar-brand" >WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li class="nav-item navigation__item Log out">
                    <a href="{% url 'logout' %}" class=" ">{% trans 'Logout' %}({{ user.username }})</a>
                </li>
            {% else %}
                <li class="nav-item navigation__item Create Account">
                    <a href="{% url 'register' %}" class=" ">Create Account</a>
                </li>

                <li class="nav-item navigation__item Log in">
                    <a href="{% url 'login' %}" class=" ">Log in</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>