{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}



    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign In</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#"></a></div>
                </div>

                <div style="padding-top:30px" class="panel-body">

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="loginform" class="form-horizontal" role="form" method="post">
                        {% csrf_token %}
                        <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon js-form-required form-required"><i
                                class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-text required form-control" name="email"
                                   value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                   placeholder="email" required="required">
                        </div>


                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password"
                                   placeholder="Pin">
                        </div>


                        {#                    <div class="input-group">#}
                        {#                        <div class="checkbox">#}
                        {#                            <label>#}
                        {#                                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me#}
                        {#                            </label>#}
                        {#                        </div>#}
                        {#                    </div>#}


                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->

                            <div class="col-sm-12 controls">
                                <input data-drupal-selector="edit-submit"
                                       type="submit" id="btn-login" name="op"
                                       value="Login"
                                       class="btn btn-success js-form-submit form-submit"/>

                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                    Don't have an account!
                                    <a href="{% url 'register' %}">
                                        Sign Up Here
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
