{% extends 'layouts/base.html' %}
{% block content %}
        <div class="border-top pt-3">
                <small class="text-muted">
                    You Have been logged out
                    <a href="{% url 'login' %}" class="ml-2">Log In Again</a>
                </small>
        </div>
{% endblock content %}
