{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load countries %}
{% load string_methods %}

{% block content %}
    <div class="container">
        <div id="signupbox" style=" margin-top:50px"
             class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink"
                                                                                               href="{% url 'login' %}">Sign
                        In</a></div>
                </div>
                <div class="panel-body">
                    <form id="signupform" class="form-horizontal" role="form" method="post">
                        {% csrf_token %}
                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>


                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                       size="60" maxlength="254"
                                       class="js-form-required form-required form-control form-email required"
                                       aria-required="true" name="email" required="required"
                                       placeholder="Email Address">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-9">
                                <input type="text"
                                       value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                       size="60" maxlength="254"
                                       class="js-form-required form-required form-control form-email "
                                       aria-required="true" name="first_name"
                                       placeholder="First Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-9">
                                <input type="text"
                                       value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                                       size="60" maxlength="254"
                                       class="js-form-required form-required form-control form-email"
                                       aria-required="true" name="last_name"
                                       placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Phone Number</label>
                            <div class="col-md-9 field--type-string field--name-field-p field--widget-string-textfield js-form-wrapper form-wrapper"
                                 data-drupal-selector="edit-field-p-wrapper" id="edit-field-p-wrapper">
                                <div class="form-group " id="phone-number-group">
                                    <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-p-0-value form-item-field-p-0-value">
                                        <input class="form-control js-text-full text-full form-text required phone_validate_org"
                                               data-drupal-selector="edit-field-p-0-value" type="text"
                                               name="phone_number" id="phone2"
                                               value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                                               size="60" maxlength="255" placeholder=""
                                               required="required" aria-required="true"/>
                                    </div>
                                    <input type="hidden" id="validate_phone2" name="validate_phone"
                                           class="phone_validate">

                                </div>
                            </div>
                        </div>

                        {% get_countries as countries %}


                        <div class="form-group">
                            <label for="username"
                                   class="js-form-required form-required col-md-3 control-label">Country</label>
                            <div class="col-md-9">
                                <select class="country-list form-control" name="country_code">
                                    {% for country in countries %}
                                        <option value="{{ country.code }}">{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username"
                                   class="js-form-required form-required col-md-3 control-label">Username</label>
                            <div class="col-md-9">
                                <input type="text" required="required"
                                       value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                                       size="60" class="form-control" name="username" placeholder="Username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-pass-pass1" class="col-md-3 control-label js-form-required form-required">Pin</label>
                            <div class="col-md-9">
                                <input class="form-control password-field js-password-field form-text required"
                                       type="password" id="edit-pass-pass1"
                                       placeholder="Pin"
                                       name="password1" size="25" maxlength="128" required="required"
                                       aria-required="true"/>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="edit-pass-pass2" class="col-md-3 control-label js-form-required form-required">Confirm
                                Pin</label>
                            <div class="col-md-9">
                                <input class="form-control password-confirm js-password-confirm form-text required"
                                       type="password" id="edit-pass-pass2" placeholder="Pin Confirmation"
                                       name="password2" size="25" maxlength="128" required="required"
                                       aria-required="true"/>
                            </div>

                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="submit" class="btn btn-info"><i
                                        class="icon-hand-right"></i> &nbsp Sign Up
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
