
{% if messages %}
    {% for message in messages %}
        <script>
            alertifyTogether("{{ message }}", "{{ message.tags }}")
        </script>
    {% endfor %}
{% endif %}

{% if form %}
    {% for field in form %}
        {% comment %}field.errors{% endcomment %}
        {% if field.errors %}
            <script>
                var txt = '<li class="label-field">{{ field.label }}<ul class="errorlist">';
            </script>
            {% for error in field.errors %}
                <script>
                    txt += '<li>{{ error }}</li>';
                </script>
            {% endfor %}
            <script>
                txt += '</ul></li>';
                alertifyTogether(txt, "danger")
            </script>
        {% endif %}
    {% endfor %}
{% endif %}